.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
    height: 100vh;
    padding: 2rem 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 60%;
    background-image: url('../public/bg.png');
    background-repeat: no-repeat;
    background-position: center;
}

.left{
    display: flex;
    flex: 3;
    flex-direction: column;
    align-items: center;
    background-color: #522398D9;
    height: inherit;
    justify-content: center;
}

.right{
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: center;
    height: inherit;
    justify-content: center;
    background-color: white;
}

.leftContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.rightContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.logo{
    height: 350px;
    width: 350px;
}

.deptName{
    text-align: center;
    font-size: x-large;
    color: white;
    margin: 2rem 2rem 0 2rem;
}

.deptTitle{
    text-align: center;
    font-size: larger;
    color: white;
    margin: 2rem;
}

.title{
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    color: #361264;
    margin: 0.5rem;
}

.instruction{
    text-align: center;
    font-style: italic;
    color: #777777;
    font-weight: 400;
    font-size: 18px;
    margin: 0.5rem 1rem;
}

.links{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.promo{
    color: #361264;
    font-weight: 500;
    font-size: 20px;
    margin: 1rem;
}

.promolinks{
    margin: 1rem;
}

.promoIcon{
    height: 25px;
    width: 25px;
    margin: 0 0.6rem;
    cursor: pointer;
}

@media only screen and (max-width:1400px){
    .logo{
        height: 200px;
        width: 200px;
    }
}

@media only screen and (max-width:700px){
    .main{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80vh;
        width: 60%;
        background-color: white;
    }

    .right{
        width: 100%;
    }

    .logo{
        display: none;
    }

    .deptName{
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        letter-spacing: 1px;
        margin: 1rem;
    }

    .deptTitle{
        font-weight: 400;
        font-size: 14px;
        margin: 1rem;
    }

    .title{
        margin-top: 2rem;
        font-size: 20px;
    }

    .instruction{
        font-weight: 400;
        font-size: 12px;
    }

    .promo{
        font-size: 12px;
    }
}